section[id="benefits"] .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 2rem;
}

section[id="benefits"] h2 {
    color: var(--tertiary-color);
}

.BenefitsArticle {
    padding: 1rem;
    text-align: center;
}

/* end of desktop version */

@media screen and (max-width: 1024px) {
    section[id="benefits"] .container {
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
    }
}

@media screen and (max-width: 600px) {
    section[id="benefits"] .container {
        grid-template-columns: minmax(min-content, 1fr);
    }
}