section[id="home"] .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    place-items: center;
    gap: 2rem;
    width: 100%;
    
}

h1 {
    color: var(--tertiary-color);
}

.HomeArticle {
    width: var(--desktop-container);
}

.HomeArticle a {
    font-weight: bold;

}

.HomeArticle :nth-of-type(2) {
    margin-bottom: 1rem;
}

.HomeImage {
    aspect-ratio: 16/9;
}

/* end of desktop version */

@media screen and (max-width: 600px) {
    section[id="home"] .container {
        grid-template-columns: minmax(min-content, 1fr);
    }

    .HomeArticle {
        width: var(--mobile-container);
    }
}