.MenuBtn,
.NavBar2 {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--rgba-color);
    z-index: 9;
    font-weight: 600;
    padding: 0 1rem;
}

.NavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}

.logo {
    margin: 0.5rem 0;
    margin-left: 0.5rem;
    display: flex;
    align-self: center;
}

/* end of desktop nav */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--desktop-container);
    }

    .NavLinks {
        display: none;
    }

    .MenuBtn {
        display: initial;
    }

    .NavBar2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        transition: var(--transition);
        height: 100vh;
        width: 16rem;
        padding: 1rem;
        left: -100%;
        background-color: var(--secondary-color);
    }

    .NavBar2 li {
        padding: 1.5rem;
        width: 100%;
    }

    .NavBar2 li a {
        color: var(--primary-color);
        line-height: 1;
        font-size: 13px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        padding: 0 5px;
        outline: none
    }

    .NavBar2 a:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .show_nav {
        left: 0;
    }

    .hide_nav {
        left: -100%;
    }

    .MenuBtn {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        margin: 0.5rem auto;
        color: var(--tertiary-color);
        align-items: center;
        justify-content: center;
    }


    header {
        border-bottom: 1px solid var(--rgba-primary);
    }

    .logo {
        margin: initial;
    }
}

/* end of mobile & tablet navigation menu */

@media screen and (max-width: 600px) {
    .container {
        width: var(--mobile-container);
    }

}