.menu-btn,
.navbar2 {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--rgba-color);
    z-index: 9;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.5rem;
}