:root {
  --primary-color: #D3D2D2;
  --secondary-color: #2A1415;
  --tertiary-color: #771B1F;
  --alternate-color: #736463;
  --rgba-color: rgba(255, 255, 255, 0.9);
  --rgba-primary: rgba(211, 210, 210, 0.5);
  --accordion-background: #fff;
  --desktop-container: 86%;
  --mobile-container: 90%;
  --transition: all 0.3s linear;
  --radix-accordion-content-height: 18rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: normal;
  min-height: 100svh;
  line-height: 1.75;
}

.container {
  margin: 0 auto;
  width: var(--desktop-container);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

a {
  color: var(--tertiary-color);
  transition: var(--transition);
}

a:hover {
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  color: var(--secondary-color);
}

.btn {
  padding: 5px 20px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  cursor: pointer;
  transition: var(--transition);
  margin: 1rem auto;
  font-size: 1rem;
}

.btn:hover {
  background-color: transparent;
  color: var(--tertiary-color);
}

section {
  padding: 4.5rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

/* end of general styling */